@import 'src/scss/abstracts';

.groups {
  &__filters {
    display: flex;
    align-items: center;

    &-item {
      margin-right: 20px;

      &--column {
        .mat-radio-group {
          display: flex;
          flex-direction: column;
        }

      }
    }
  }

  &__selected-filters {
    list-style: none;
    padding: 10px;
    margin: 0;

    &-item {
      border: 2px solid $color--green;
      border-radius: 5px;
      padding: 5px 10px;
      margin-right: 10px;
      display: inline-flex;
      align-items: center;
    }

    &-icon {
      cursor: pointer;
      font-size: 20px;
      margin-left: 5px;
    }

  }
}
