<section class="section groups">
  <div class="container-fluid">
    <h1 class="h--display-2 section__title">Groups</h1>
    <h2 class="h--display-1 section__subtitle">Filters</h2>
    <div class="groups__filters">
      <form [formGroup]="filterForm"
            (ngSubmit)="onSubmit()"
            class="groups__form">
        <div class="groups__filters-item">
          <mat-form-field appearance="fill">
            <mat-label>Gender</mat-label>
            <mat-select formControlName="gender">
              <mat-option>None</mat-option>
              <mat-option [value]="gender.value"
                          *ngFor="let gender of genders"> {{gender.value}} </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="groups__filters-item groups__filters-item--column">
          <mat-radio-group formControlName="age"
                           aria-label="Select an option">
            <mat-radio-button *ngFor="let age of ages"
                              [value]="age.range">{{age.value}} years old</mat-radio-button>
          </mat-radio-group>
        </div>
        <button type="submit"
                [disabled]="!this.filterForm.dirty"
                class="btn btn-primary">Filter</button>
      </form>
    </div>
    <ul *ngIf="selectedFilters.length"
        class="groups__selected-filters">
      <h2 class="h--display-1 section__subtitle">Selected filters:</h2>
      <li class="groups__selected-filters-item"
          *ngFor="let selectedFilter of selectedFilters; let i = index"> {{selectedFilter}} <span
              (click)="deleteFilter(selectedFilter ,i)"
              class="groups__selected-filters-icon material-icons"> close </span>
      </li>
    </ul>
    <app-group-item (click)="goToGroupDetail(group.id)"
                    [group]="group"
                    *ngFor="let group of (groups$ | async)">
    </app-group-item>
  </div>
</section>
