<section class="section groups">
  <div class="container-fluid">
    <h1 class="h--display-2 section__title">Groups</h1>
    <h2 class="h--display-1 section__subtitle">Filters</h2>
    <div class="groups__filters">
      <div class="groups__filters-item">
        <mat-form-field appearance="fill">
          <mat-label>Gender</mat-label>
          <mat-select [(ngModel)]="selectedGender">
            <mat-option>None</mat-option>
            <mat-option *ngFor="let gender of genders"
                        [value]="gender.value"> {{gender.value}} </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="groups__filters-item groups__filters-item--column">
        <mat-radio-group [(ngModel)]="selectedAge"
                         aria-label="Select an option">
          <mat-radio-button *ngFor="let age of ages"
                            [value]="age.value">{{age.value}} years old</mat-radio-button>
        </mat-radio-group>
      </div>
    </div>
    <ul class="groups__selected-filters">
      <h2 *ngIf="selectedGender || selectedAge"
          class="h--display-1 section__subtitle">Selected filters:</h2>
      <li *ngIf="selectedGender"
          class="groups__selected-filters-item"> {{selectedGender}} <span
              (click)="deleteGenderFilter()"
              class="groups__selected-filters-icon material-icons"> clear </span>
      </li>
      <li *ngIf="selectedAge"
          class="groups__selected-filters-item"> {{selectedAge}} <span (click)="deleteAgeFilter()"
              class="groups__selected-filters-icon material-icons"> clear </span>
      </li>
    </ul>
    <app-group-item (click)="goToGroupDetail(group.id)"
                    [group]="group"
                    *ngFor="let group of groups | filterGender: selectedGender | filterAge: selectedAge">
    </app-group-item>
  </div>
</section>
