@import 'abstracts';
@import 'vendors/bootstrap-helpers';

:host {
  display: block;
  padding: 0px 24px;
  box-shadow: $box-shadow--tile;
  border-radius: $card-radius;
  margin-bottom: 16px;
  position: relative;
  background: $color--white;

  &:hover {
    cursor: pointer;
    background-color: $color--gray-300;
  }
}
