@import 'abstracts';
@import 'vendors/bootstrap-helpers';

.notifications {
  position: fixed;
  width: 100%;
  padding: 60px 20px 40px 20px;
  right: 0;
  top: 0;
  height: 100vh;
  background: $color--white;
  transform: translateX(100%);
  overflow: auto;
  transition: 0.2s ease-in;
  box-shadow: $box-shadow--bar;
  z-index: 2;

  @include media-breakpoint-up(md) {
    width: 440px;
  }

  @include media-breakpoint-up(xl) {
    position: relative;
    padding-top: 40px;
    transform: none;
  }

  &--open {
    transform: translateX(0);
  }

  &__close-btn {
    position: absolute;
    right: 10px;
    top: 10px;
    color: $color--green;

    @include media-breakpoint-up(xl) {
      display: none;
    }
  }

  &__close-icon {
    font-size: 30px;
  }

  &__item {
    border-bottom: 1px solid $color--gray-600;
    padding: 30px 0;
  }
}
