<section class="section dashboard">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <h1 class="h--display-2 dashboard__title">Dashboard</h1>
        <h2 class="h--display-1 dashboard__subtitle">Last visited patients</h2>
        <div class="d-flex flex-wrap">
          <app-patient-card [patient]="patient"
                            [i]="i"
                            *ngFor="let patient of patients; let i = index">
          </app-patient-card>
        </div>
        <button [routerLink]="['./', 'patients']"
                class="btn btn-secondary btn-icon mt-5 ml-auto"> See all patients <i
             class="fas fa-arrow-right"></i>
        </button>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <h2 class="h--display-1 dashboard__subtitle">Last groups</h2>
        <app-group [group]="group"
                   *ngFor="let group of groups"></app-group>
        <button class="btn btn-secondary btn-icon mt-5 ml-auto"> See all groups <i
             class="fas fa-arrow-right"></i>
        </button>
      </div>
    </div>
  </div>
</section>
