<section class="section dashboard">
  <div class="container-fluid">
    <h1 class="h--display-2 section__title">Dashboard</h1>
    <h2 class="h--display-1 section__subtitle">Last visited patients</h2>
    <div class="row">
      <div class="col-12">
        <div class="d-flex flex-wrap">
          <app-patient-card [patient]="patient"
                            *ngFor="let patient of patients | slice:0:4">
          </app-patient-card>
        </div>
        <div class="d-flex justify-content-end mt-5">
          <a [routerLink]="patientsRoute"
                  class="btn btn-secondary btn-icon"> See all patients <i
              class="fas fa-arrow-right"></i>
          </a>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <h2 class="h--display-1 section__subtitle">Last groups</h2>
        <app-group [group]="group" (detailsClick)="goToGroupDetail(group.id)"
                   *ngFor="let group of groups | slice:0:4; let i=index"></app-group>
        <div class="d-flex justify-content-end mt-5">
          <a [routerLink]="groupsRoute" class="btn btn-secondary btn-icon mt-5 ml-auto"> See all groups <i
              class="fas fa-arrow-right"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
