@import 'src/scss/abstracts';
@import 'src/scss/vendors/bootstrap-helpers';

.dashboard {
  &.section {
    @include media-breakpoint-up(xl) {
      padding: 0;
    }
  }

  &__container {
    @include media-breakpoint-up(xl) {
      padding: 40px;
      height: 100vh;
      overflow: auto;
    }
  }
}
