@import 'src/scss/abstracts';

.group {
  padding: 10px 24px;
  height: 72px;
  box-shadow: $box-shadow;
  border-radius: $card-radius;
  margin-bottom: 16px;
  display: flex;
  align-items: center;
  position: relative;

  &:hover {
    cursor: pointer;
    background-color: $color--gray-300;
  }

  &__title {
    height: 100%;
    border-right: $border--light;
  }

  &__col {
    flex: 1;
    margin: 0 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  &__arrow {
    color: $color--green;
    position: absolute;
    right: 30px;
    cursor: pointer;
  }
}
