@import 'src/scss/abstracts';
@import 'src/scss/vendors/bootstrap-helpers';

:host {
  width: 48%;
  margin: 2% 0;
  padding: 10px 24px;
  box-shadow: $box-shadow--tile;
  border-radius: $card-radius;
  margin-bottom: 16px;
  position: relative;
  background: $color--white;

  @include media-breakpoint-up(md) {
    width: 100%;
  }

  &:hover {
    cursor: pointer;
    background-color: $color--gray-300;
  }
}

.group {
  display: flex;
  flex-direction: column;
  align-items: center;

  @include media-breakpoint-up(md) {
    height: 72px;
    flex-direction: row;
  }

  &__title {
    height: 100%;
    border-right: $border--light;
  }

  &__col {
    flex: 1;
    margin: 5px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    @include media-breakpoint-up(md) {
      margin: 0 20px;
    }
  }

  &__arrow {
    color: $color--green;
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
    cursor: pointer;

    @include media-breakpoint-up(md) {
      right: 30px;
      top: auto;
      transform: none;
    }
  }
}
