@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');

body {
  font-family: 'Open Sans', sans-serif;
}

//Typhography

a:not([href]):not([class]) {
  color: $color--green;
  text-decoration: underline;
  font-weight: 600;
  cursor: pointer;
  &:hover {
    color: $color--green;
    text-decoration: underline;
  }
}
