//colors
$color--green: #39b54a;
$color--gray: #f0f0f0;
$color--gray-100: #939393;
$color--gray-200: #706f6f;
$color--white: #ffffff;

//radius
$btn-radius: 100px;
$input-radius: 8px;

//heights
$btn-height: 48px;
