// Heading font sizes
$h-font-sizes: (
  '1': 16px,
  '2': 28px,
);

// Paragraphs / spans font sizes
$text-font-sizes: (
  '1': 12px,
  '2': 13px,
  '3': 14px,
  '4': 16px,
);

// Font weights
$text-font-weights: (
  'regular': 400,
  'semibold ': 600,
);

// Text colors
$text-colors: (
  'light-1': $color--gray-200,
  'light-2': $color--gray-400,
);

// Maps

@each $number, $size in $h-font-sizes {
  .h--display-#{$number} {
    font-size: $size;
    font-weight: $font-weight--semibold;
  }
}

@each $number, $size in $text-font-sizes {
  .text--display-#{$number } {
    font-size: $size;
  }
}

@each $name, $size in $text-font-weights {
  .text--#{$name} {
    font-weight: $size;
  }
}

@each $name, $value in $text-colors {
  .text--#{$name} {
    color: $value;
  }
}

// Links
a:not([href]):not([class]) {
  color: $color--green;
  text-decoration: underline;
  font-weight: 600;
  cursor: pointer;
  &:hover {
    color: $color--green;
    text-decoration: underline;
  }
}
