@import 'src/scss/abstracts';
@import 'src/scss/vendors/bootstrap-helpers';

:host {
  background: $color--white;
  width: 48%;
  margin: 2% 0;
  padding: 24px;
  box-shadow: $box-shadow--tile;
  border-radius: $card-radius;

  @include media-breakpoint-up(md) {
    margin-right: 32px;
    width: 180px;

    &:last-child {
      margin-right: 0;
    }
  }
}

.patient-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;

  &__group {
    display: flex;
    flex-direction: column;
  }

  &__btn {
    padding-top: 20px;
    border-radius: 0;
    border-top: $border--light;
    display: block;
  }
}
