.form-control {
  font-family: 'Open Sans', sans-serif;
  border-radius: $input-radius;
  border: 1px solid $color--gray;
  background-color: $color--gray;
  color: $color--gray-100;
  height: $btn-height;
  padding: 16px;
  &:focus {
    background-color: $color--gray;
    border-color: $color--gray;
    box-shadow: none;
  }
}

.form-group {
  margin-bottom: 40px;
}

label {
  font-weight: 600;
  color: $color--gray-200;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  box-shadow: 0 0 0px 1000px $color--gray inset;
}
