<div class="sidebar"
     [ngClass]="{'sidebar--open': isOpen}">
  <div class="sidebar__logo"
       routerLink="/home">
    <img src="/assets/images/logo.svg"
         class="sidebar__logo-img" />
  </div>
  <ul class="sidebar__nav">
    <li class="sidebar__item"
        [routerLink]="dashboardRoute"
        routerLinkActive="sidebar__item--active">
      <span class="sidebar__icon sidebar__icon--dashboard"></span>
      <span class="sidebar__item-title">Dashboard</span>
    </li>
    <li class="sidebar__item"
        [routerLink]="patientsRoute"
        routerLinkActive="sidebar__item--active">
      <span class="sidebar__icon sidebar__icon--patients"></span>
      <span class="sidebar__item-title">Patients</span>
    </li>
    <li class="sidebar__item"
        [routerLink]="groupsRoute"
        routerLinkActive="sidebar__item--active">
      <span class="sidebar__icon sidebar__icon--groups"></span>
      <span class="sidebar__item-title">Groups</span>
    </li>
    <li class="sidebar__item">
      <span class="sidebar__icon sidebar__icon--messages"></span>
      <span class="sidebar__item-title">Messages</span>
    </li>
  </ul>
  <div class="sidebar__profile sidebar__item"
       routerLink="/home/profile">
    <span class="sidebar__icon sidebar__icon--profile"></span>
    <span class="sidebar__item-title">Profile</span>
  </div>
</div>
<div class="sidebar__mobile-nav d-xl-none d-flex justify-content-between align-items-center">
  <button (click)="onOpenSidebar()"
          type="button"
          class="sidebar__trigger">
    <span class="sidebar__trigger-icon material-icons"> menu </span>
  </button>
  <button *ngIf="showNotificationsButton" (click)="onOpenNotifications()"
          type="button"
          class="sidebar__notifications d-flex align-items-center">
    <span class="material-icons"> notifications </span>
  </button>
</div>
<div *ngIf="isOverlay"
     (click)="onOverlay()"
     class="sidebar__overlay"></div>
