@import 'src/scss/abstracts';
:host {
  height: 100vh;
  display: block;
  width: 100px;
  background-color: $color--green;
  padding: 30px 0;
  .sidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    &__logo {
      cursor: pointer;
      display: flex;
      justify-content: center;
    }
    &__icon {
      margin-bottom: 10px;
      display: inline-block;
      width: 32px;
      height: 32px;
      background-size: cover;
      &--dashboard {
        background-image: url('/assets/images/dashboard.svg');
      }
      &--patients {
        background-image: url('/assets/images/patients.svg');
      }
      &--groups {
        background-image: url('/assets/images/groups.svg');
      }
      &--messages {
        background-image: url('/assets/images/messages.svg');
      }
      &--profile {
        background-image: url('/assets/images/profile.svg');
      }
    }
    &__nav {
      list-style: none;
      margin: 0;
      padding: 0;
    }
    &__item {
      color: $color--white;
      width: 100px;
      height: 100px;
      cursor: pointer;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      &--active {
        outline: none;
        background: $color--white;
        color: $color--green;
        .sidebar__icon {
          filter: invert(55%) sepia(91%) saturate(375%) hue-rotate(77deg) brightness(90%) contrast(86%);
        }
        &:hover {
          background: $color--white;
        }
      }
      &:not(.sidebar__item--active) {
        &:hover {
          background: #6bc878;
        }
      }
      &:focus {
        outline: none;
      }
    }
  }
}
