@import 'src/scss/abstracts';

.patient-item {
  padding: 10px 24px;
  height: 72px;
  box-shadow: $box-shadow;
  border-radius: $card-radius;
  display: block;
  margin-bottom: 16px;
  display: flex;
  align-items: center;
  position: relative;

  &__title {
    height: 100%;
    display: flex;
    align-items: center;
    border-right: $border--light;
  }

  &__col {
    flex: 1;
    margin: 0 20px;
  }
}
