<!-- <div *ngIf="patient"
     class="patient-item">
  <div class="patient-item__col patient-item__title">
    <span class="text--display-3 mr-4 text--semibold">{{patient.name}}</span>
  </div>
  <div class="patient-item__col">
    <span class="text--display-3"> {{patient.number}}</span>
  </div>
  <div class="patient-item__col">
    <span class="text--display-3"> {{patient.gender}}</span>
  </div>
  <div class="patient-item__col">
    <span class="text--display-3"> {{patient.born}}</span>
  </div>
  <div class="patient-item__col ">
    <span class="text--display-3"> {{patient.accessLevel}}</span>
  </div>
</div> -->
